DEVELOPMENT_BUILD = "##DEVELOPMENT_BUILD##"
CC_MODE = "##CC_MODE##"
EXTRA_IMAGE_FEATURES = "${@oe.utils.vartrue('DEVELOPMENT_BUILD', 'debug-tweaks', '', d)}"
DISTRO_FEATURES:append = " virtualization"

DISTRO = "gyroidos-cml"

TRUSTME_BOOTPART_FS ?= "vfat"
TRUSTME_BOOTPART_SIZE ?= "512"
TRUSTME_DATAPART_FS ?= "ext4"
TRUSTME_DATAPART_EXTRA_SPACE ?= "4096"
TRUSTME_TARGET_ALIGN ?= "4"
TRUSTME_PARTTABLE_TYPE ?= "gpt"

require conf/trustx/##MACHINE##.inc

TRUSTME_SCHSM = "##TRUSTME_SCHSM##"
TRUSTME_SANITIZERS = "##TRUSTME_SANITIZERS##"

USER_CLASSES ?= "buildstats"

PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"

PACKAGECONFIG:append:pn-qemu-native = " sdl"
PACKAGECONFIG:append:pn-qemu-system-native = " sdl"
PACKAGECONFIG:append:pn-nativesdk-qemu = " sdl"
PACKAGECONFIG:pn-btrfs-tools = "programs"
PACKAGECONFIG:pn-btrfs-tools-native = "programs"

FETCHCMD_wget = "/usr/bin/env wget -t 2 -T 30 --passive-ftp --no-check-certificate"
KERNEL_DEPLOYSUBDIR = "cml-kernel"
PACKAGECONFIG:append:pn-ovmf = " secureboot"
PACKAGECONFIG:append:pn-gnutls-native = " p11-kit"

KERNEL_MODULE_SIG_KEY="${TOPDIR}/test_certificates/certs/signing_key.pem"
# Alternatively KERNEL_MODULE_SIG_KEY can be speicified as a PKCS#11 URI
# pointing to a private key and certificate:
#KERNEL_MODULE_SIG_KEY="pkcs11:object=ssig_subca?pin-value=1234"
KERNEL_SYSTEM_TRUSTED_KEYS="${TOPDIR}/test_certificates/ssig_rootca.cert"

GUESTOS_SIG_KEY = "${TOPDIR}/test_certificates/ssig_cml.key"
GUESTOS_SIG_CERT = "${TOPDIR}/test_certificates/ssig_cml.cert"
# Likewise, GUESTOS_SIG_{KEY,CERT} may be given as a PKCS#11 URI instead
# of file paths
#GUESTOS_SIG_KEY="pkcs11:object=ssig_cml?pin-value=1234"
#GUESTOS_SIG_CERT="pkcs11:object=ssig_cml?pin-value=1234"
