DEVELOPMENT_BUILD = "##DEVELOPMENT_BUILD##"
CC_MODE = "##CC_MODE##"
EXTRA_IMAGE_FEATURES = "${@oe.utils.vartrue('DEVELOPMENT_BUILD', 'debug-tweaks', '', d)}"
DISTRO_FEATURES:append = " virtualization"

DISTRO = "gyroidos-cml"
UPSTREAM_VERSION = "##UPSTREAM_VERSION##"

GYROIDOS_BOOTPART_FS ?= "vfat"
GYROIDOS_BOOTPART_SIZE ?= "512"
GYROIDOS_DATAPART_FS ?= "ext4"
GYROIDOS_DATAPART_EXTRA_SPACE ?= "4096"
GYROIDOS_TARGET_ALIGN ?= "4"
GYROIDOS_PARTTABLE_TYPE ?= "gpt"

require conf/gyroidos/##MACHINE##.inc

GYROIDOS_SCHSM = "##GYROIDOS_SCHSM##"
GYROIDOS_BNSE = "##GYROIDOS_BNSE##"
GYROIDOS_SANITIZERS = "##GYROIDOS_SANITIZERS##"
GYROIDOS_PLAIN_DATAPART = "##GYROIDOS_PLAIN_DATAPART##"

USER_CLASSES ?= "buildstats"

PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"

PACKAGECONFIG:append:pn-qemu-native = " sdl"
PACKAGECONFIG:append:pn-qemu-system-native = " sdl"
PACKAGECONFIG:append:pn-nativesdk-qemu = " sdl"
PACKAGECONFIG:pn-btrfs-tools = "programs"
PACKAGECONFIG:pn-btrfs-tools-native = "programs"

FETCHCMD_wget = "/usr/bin/env wget -t 2 -T 30 --passive-ftp --no-check-certificate"
KERNEL_DEPLOYSUBDIR = "cml-kernel"
PACKAGECONFIG:append:pn-ovmf = " secureboot"
PACKAGECONFIG:append:pn-gnutls-native = " p11-kit"


# Artefact signing configuration

KERNEL_MODULE_SIG_KEY_CERT="${TOPDIR}/test_certificates/certs/signing_key.pem"
# Alternatively KERNEL_MODULE_SIG_KEY can be speicified as a PKCS#11 URI
# pointing to a private key and certificate:
# The URI must point to a private key AND certificate!
#KERNEL_MODULE_SIG_KEY_CERT="pkcs11:serial=SERIAL;object=ssig_subca"

GUESTOS_SIG_KEY = "${TOPDIR}/test_certificates/ssig_cml.key"
GUESTOS_SIG_CERT = "${TOPDIR}/test_certificates/ssig_cml.cert"
# Likewise, GUESTOS_SIG_{KEY,CERT} may be given as a PKCS#11 URI instead
# of file paths.
# GUESTOS_SIG_CERT may define a list of certificates that are concatenated to
# form a chain of trust to the root certificate.
#GUESTOS_SIG_KEY="pkcs11:serial=SERIAL;object=ssig_cml"
#GUESTOS_SIG_CERT="pkcs11:serial=SERIAL;object=ssig_cml pkcs11:serial=SERIAL;object=ssig_subca_cml"

# Software signing root certificate that is used to check guestos signatures.
GUESTOS_SIG_ROOT_CERT="${TOPDIR}/test_certificates/ssig_rootca.cert"
#GUESTOS_SIG_ROOT_CERT="pkcs11:serial=SERIAL;object=ssig_rootca

FIRMWARE_SIG_KEY="${TEST_CERT_DIR}/ssig_subca.key"
FIRMWARE_SIG_CERT="${TEST_CERT_DIR}/ssig_subca.cert"
#FIRMWARE_SIG_KEY="pkcs11:serial=SERIAL;object=ssig_subca"
#FIRMWARE_SIG_CERT="pkcs11:serial=SERIAL;object=ssig_subca"

SECURE_BOOT_SIG_KEY="${TOPDIR}/test_certificates/ssig_subca.key"
SECURE_BOOT_SIG_CERT="${TOPDIR}/test_certificates/ssig_subca.cert"
#SECURE_BOOT_SIG_KEY="pkcs11:serial=SERIAL;object=ssig_subca"
#SECURE_BOOT_SIG_CERT="pkcs11:serial=SERIAL;object=ssig_subca"

KERNEL_SYSTEM_TRUSTED_KEYS="${TOPDIR}/test_certificates/ssig_rootca.cert"
#KERNEL_SYSTEM_TRUSTED_KEYS="pkcs11:serial=SERIAL;object=ssig_rootca"
